{
  "presets": [
    ["@babel/preset-env", {
      "modules": "cjs",
      "targets": {
        "ie": 11,
        "browsers": "last 2 versions"
      }
    }],
    ["@babel/preset-react", {
      "development": true
    }]
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
